@use 'variables' as *;
@use 'mixinss/transparency' as *;
@use 'mixinss/vendor-prefixes' as *;

@use 'mixinss/buttons' as *;
@use 'mixinss/inputs' as *;
@use 'mixinss/labels' as *;
@use 'mixinss/tabs' as *;
@use 'mixinss/popovers' as *;
@use 'mixinss/navbars' as *;

.carousel-control-prev,
.carousel-control-next {
  background-color: $default-color;
  border-radius: 50%;
  opacity: 1;
  text-shadow: none;
  font-size: 12px;
  width: 60px;
  opacity: 0.8;

  &:hover,
  &:focus {
    opacity: 1;
    background-color: $default-states-color;
  }
}
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.carousel-control-prev-icon {
  background-image: none !important;
  margin-top: -5px;
  &:before {
    color: $white-color;
    font-size: 26px;
    margin: 2px;
    padding-right: 3px;
    font: normal normal normal 23px/1 FontAwesome !important;
    content: '\f104' !important;
  }
}
.carousel-control-next-icon {
  background-image: none !important;
  margin-top: -5px;
  &:before {
    color: $white-color;
    font-size: 26px;
    margin: 2px;
    padding-left: 2px;
    font: normal normal normal 23px/1 FontAwesome !important;
    content: '\f105' !important;
  }
}
.carousel-control-prev {
  height: 30px;
  top: 48%;
  width: 30px;
  left: 20px;
  opacity: 0;
}
.carousel-control-next {
  height: 30px;
  right: 20px;
  top: 48%;
  width: 30px;
  opacity: 0;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .fa,
.carousel-control .fa {
  display: inline-block;
  z-index: 5;
}
.carousel-control-prev .fa {
  font-size: 26px;
  margin: 2px;
  padding-right: 3px;
}
.carousel-control-next .fa {
  font-size: 26px;
  margin: 2px;
  padding-left: 3px;
}
.carousel-control-prev,
.carousel-control-next {
  background-image: none;
}

.page-carousel {
  border-radius: $border-radius-extreme !important;
  border: none !important;
}

.carousel-inner {
  .carousel-item {
    img {
      border-radius: $border-radius-extreme;
      box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
      height: 400px;
      width: 100%;
    }
  }
}

.carousel-indicators {
  bottom: 30px;
  gap: 3px;
}
.carousel-indicators button {
  background-color: $white-color;
  width: 35px; /* controls length */
  height: 3px; /* thickness */
  border-radius: 2px;
  border: 0 none;
  margin: 0 3px;
}
.carousel-indicators .active {
  background-color: $default-color;
}
.page-carousel:hover {
  .carousel-control-prev,
  .carousel-control-next {
    opacity: 1;
    @include transition(300ms, linear);
  }
}
ngb-carousel {
  &:focus {
    outline: none !important;
  }
}
