<nav
  class="navbar navbar-expand-lg fixed-top navbar-modern"
  [ngClass]="{ 'navbar-scrolled': isScrolled, 'navbar-product-page': isProductPage }"
  [attr.color-on-scroll]="enableColorOnScroll ? '500' : null"
>
  <div class="container">
    <div class="navbar-translate">
      <div class="navbar-left-group">
        <div class="navbar-brand-wrapper" routerLink="/">
          <img
            class="brand-logo"
            src="img/riyaorangery_nobg.png"
            alt="Riya Orangery logo – Indoor plants and succulents"
          />
          <span class="navbar-brand">Riya Orangery</span>
        </div>
        <div ngbDropdown class="d-inline-block dropdown flora-dropdown">
          <a class="flora-link" id="dropdownBasic1" ngbDropdownToggle>
            <i class="fa fa-leaf"></i>
            Flora
          </a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-modern">
            <a class="dropdown-item" *ngFor="let flora of flora_detail" (click)="ChangePage(flora)">
              <i class="fa fa-leaf"></i>
              {{ flora }}
            </a>
          </div>
        </div>
      </div>
      <button
        class="navbar-toggler navbar-burger"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="sidebarToggle()"
      >
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item search-item" [class.open]="showSearch">
          <button
            class="nav-link nav-icon-link search-toggle"
            type="button"
            rel="tooltip"
            title="Search"
            data-placement="bottom"
            (click)="toggleSearch()"
          >
            <div class="icon-wrapper">
              <i class="fa fa-search"></i>
            </div>
            <span class="d-lg-none nav-label">Search</span>
          </button>
          <div class="search-dropdown" *ngIf="showSearch">
            <div class="search-input-wrapper">
              <input
                class="search-input"
                type="text"
                placeholder="Search plants, categories..."
                [value]="searchTerm"
                (input)="onSearchChange($any($event.target).value)"
              />
              <button
                class="clear-btn"
                type="button"
                *ngIf="searchTerm"
                (click)="clearSearch()"
                aria-label="Clear search"
              >
                ×
              </button>
            </div>
            <div class="search-results" *ngIf="searchTerm">
              <button
                class="search-result-item"
                type="button"
                *ngFor="let prod of searchResults"
                (click)="goToProduct(prod)"
              >
                <img
                  class="result-image"
                  [src]="'./img/Plants/400/' + prod.productimg[0]"
                  [alt]="prod.productname + ' plant'"
                />
                <div class="result-text">
                  <span class="result-name">{{ prod.productname }}</span>
                  <span class="result-meta">{{ prod.productlabel }}</span>
                </div>
              </button>
              <div class="no-results" *ngIf="searchResults.length === 0">No results found.</div>
            </div>
            <div class="search-results" *ngIf="!searchTerm">
              <div class="suggested-title">Suggested plants</div>
              <button
                class="search-result-item"
                type="button"
                *ngFor="let prod of suggestedResults"
                (click)="goToProduct(prod)"
              >
                <img
                  class="result-image"
                  [src]="'./img/Plants/400/' + prod.productimg[0]"
                  [alt]="prod.productname + ' plant'"
                />
                <div class="result-text">
                  <span class="result-name">{{ prod.productname }}</span>
                  <span class="result-meta">{{ prod.productlabel }}</span>
                </div>
              </button>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link nav-icon-link"
            rel="tooltip"
            title="Cart"
            data-placement="bottom"
            (click)="goToCart()"
          >
            <div class="icon-wrapper">
              <i class="fa fa-shopping-cart"></i>
              <span class="badge-count" *ngIf="cartItemCount !== 0">{{ cartItemCount }}</span>
            </div>
            <span class="d-lg-none nav-label">Cart</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link nav-icon-link"
            rel="tooltip"
            title="Wishlist"
            data-placement="bottom"
            (click)="goToWishlist()"
          >
            <div class="icon-wrapper">
              <i class="fa fa-heart"></i>
              <span class="badge-count" *ngIf="WishlistCount !== 0">{{ WishlistCount }}</span>
            </div>
            <span class="d-lg-none nav-label">Wishlist</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
