<div class="wrapper">
  <div class="zoom-wrapper">
    <div
      class="page-header section-dark zoom-bg"
      style="background-image: url('img/main-bg.jpg')"
    ></div>
    <div class="filter"></div>
    <div class="content-center zoom-content">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-titles">Indoor Plants</h1>
          <h2 class="presentation-subtitle text-center">We Care for each plants</h2>
          <br /><br /><br /><br />
          <button type="button" class="btn text-center">Explore Now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section" style="background-color: rgb(255, 248, 240)">
      <div class="container info-section">
        <div class="vertical-rule grid-item">
          <div>
            <i class="nc-icon nc-spaceship" style="font-size: 80px"></i>
          </div>
          <br />
          <div>
            <h6>Fast Shipping</h6>
          </div>
          <br />
        </div>
        <div class="vertical-rule_1 grid-item">
          <div>
            <ng-icon name="heroPercentBadge" style="font-size: 80px"></ng-icon>
          </div>
          <br />
          <div>
            <h6>Best Discount</h6>
          </div>
          <br />
        </div>
        <div class="vertical-rule grid-item">
          <div>
            <i class="nc-icon nc-satisfied" style="font-size: 80px"></i>
          </div>
          <br />
          <div>
            <h6>Customer Satisfaction</h6>
          </div>
          <br />
        </div>
        <div class="grid-item">
          <div>
            <i class="nc-icon nc-sun-fog-29" style="font-size: 80px"></i>
          </div>
          <br />
          <div>
            <h6>Best Quality</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div style="text-align: center">
        <h3>Our Shop</h3>
      </div>
      <div class="title-uppercase blockquote" style="text-align: center">
        <h2 style="font-weight: 600">Best Sellers</h2>
      </div>
    </div>
    <div class="container front-display-section">
      <div class="front-display-section-item">
        <br />
        <div class="card" style="margin-right: 20px">
          <div class="card-cover">
            <img
              style="max-width: 100%"
              src="./img/faces/ayo-ogunseinde-2.jpg"
              alt="Description of the image"
            />
          </div>
        </div>
        <p style="text-align: left">Label1, Label2</p>
        <p class="p-title" style="text-align: left">Plant</p>
        <p class="p-title" style="text-align: left">
          <span>&#8377;</span>40-<span>&#8377;</span>60
        </p>
        <app-star-rating [rating]="4" [edit_rate]="1" style="text-align: left"></app-star-rating>
      </div>
      <div class="front-display-section-item">
        <br />
        <div class="card" style="margin-right: 20px">
          <div class="card-cover">
            <img
              style="max-width: 100%"
              src="./img/faces/ayo-ogunseinde-2.jpg"
              alt="Description of the image"
            />
          </div>
        </div>
        <p style="text-align: left">Label1, Label2</p>
        <p class="p-title" style="text-align: left">Plant</p>
        <p class="p-title" style="text-align: left">
          <span>&#8377;</span>40-<span>&#8377;</span>60
        </p>
        <app-star-rating [rating]="4"  [edit_rate]="1" style="text-align: left"></app-star-rating>
      </div>
      <div class="front-display-section-item">
        <br />
        <div class="card" style="margin-right: 20px">
          <div class="card-cover">
            <img
              style="max-width: 100%"
              src="./img/faces/ayo-ogunseinde-2.jpg"
              alt="Description of the image"
            />
          </div>
        </div>
        <p style="text-align: left">Label1, Label2</p>
        <p class="p-title" style="text-align: left">Plant</p>
        <p class="p-title" style="text-align: left">
          <span>&#8377;</span>40-<span>&#8377;</span>60
        </p>
        <app-star-rating [rating]="4"  [edit_rate]="1" style="text-align: left"></app-star-rating>
      </div>
    </div>
    <div style="text-align: center">
      <button type="button" class="btn text-center">More Products</button>
    </div>
  </div>
  <div class="section" style="background-color: rgb(252, 239, 224);">
    <div class="container front-knowledge-section">
      <div class="front-knowledge-section-item">
        <div>
          <h5 style="text-align: left">Knowledge Base</h5>
        </div>
        <div>
          <h2 style="font-weight: 600; text-align: left">
            We will teach you how to care for potted plants and flowers!
          </h2>
        </div>
        <div>
          <img
              style="max-width: 100%"
              src="./img/bruno-abatti.jpg"
              alt="Description of the image"
            />
        </div>
      </div>
      <div class="front-knowledge-section-item">
        <div>
          <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
          <p style="font-weight: 100; text-align: left; padding-left: 20px;">
            We will teach you how to care for potted plants and flowers!
          </p>
          <a target="_blank" href="#" style="font-weight: 100; text-align: left; padding-left: 20px; ">
            Read More...
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
