.notice-banner-bottom {
  position: fixed; /* sticks to bottom of viewport */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8e6c9; /* soft highlight */
  color: #333;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dismiss-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.wishlist-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #66615b;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.wishlist-btn i {
  color: white;
  font-size: 18px;
}

.wishlist-btn:hover {
  transform: scale(1.1);
}

.wishlist-btn {
  background: #66615b;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.wishlist-btn:focus,
.wishlist-btn:active {
  outline: none;
  box-shadow: none;
}

.stock-btn {
  position: absolute;
  color: white;
  top: 10px;
  background: black;
  border: none;
  width: 100px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.discount-btn {
  position: absolute;
  color: white;
  top: 10px;
  background: #66615b;
  border: none;
  width: 100px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.product-image {
  width: 100%;
  height: 320px; /* fixed height */
  overflow: hidden;
  border-radius: 8px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* KEY LINE */
  display: block;
}
