.scroll-top {
  position: fixed;
  bottom: 30px;
  right: 30px;

  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;

  background: #000;
  color: #fff;
  font-size: 22px;

  cursor: pointer;
  z-index: 9999;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
}

.scroll-top.show {
  opacity: 1;
  pointer-events: auto;
}

.scroll-top:hover {
  transform: scale(1.1);
}